node_modules/
.next/
.env
.env.local
.env.production.local
.env.development.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dev.db
dev.db-journal
*.tsbuildinfo
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
.vercel
capture_decran/